= form_for @dashboard do |f|
  - if @dashboard.errors.any?
    #error_explanation
      %h2= "#{pluralize(@dashboard.errors.count, "error")} prohibited this dashboard from being saved:"
      %ul
        - @dashboard.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
